.l-page
  
  .l-sidebar
    %nav.m-subnav
      %ul
        - ["Shop", "Wines", "Merchandise"].each do |child_page|
          %li= link_to child_page, "/prototypes/shop"

    = render "shared/account"
    .m-subtotal Subtotal: $179.94
    = render "state_select"

  .l-main
    -# Product
    .l-product-single

      .m-product
        .m-product-image= image_tag "http://arrington-vineyards-dev.s3.amazonaws.com/prototype/wine-bottle.png"
        .m-product-actions
          %ul.product-prices
            %li $29.99 / Bottle
            %li $359.88 / Case
          %table
            %tbody
              %tr
                %td
                  %input{ type: "text", value: "1" }
                %td= link_to "Add to Cart", "#", class: "m-btn"
              %tr
                %td
                  %input{ type: "text", value: "1" }
                %td= link_to "Buy a Case", "#", class: "m-btn"

      .m-product-overview
        %h1 Encore 2010
        %p Rich, sweet port-style Chambourcin dessert wine.

        .m-product-profile
          %h4 Wine Profile
          .m-product-description
            %h5 Tasting Notes:
            %p
              Rich, complex flavors of chocolate covered cherries, mocha and clove.
            %h5 Winemaker Notes:
            %p
              This &ldquo;Port&rdquo; style wine was made from our hillside Chambourcin vineyard. Grape spirits (brandy) was added to halt fermentation and preserve the sweetness of the grape juice. 22 months of barrel aging in French and American oak added mocha and clove flavors.
            %h5 Food Pairing:
            %p
              Stilton blue cheese, cheesecake, chocolates, berry desserts, dates and nuts.

    -# Shipping Disclaimer
    .m-product-policy
      %p Shipping Policies: Orders must be placed by a person 21 or older. Packages will arrive via FedEx and must be signed for by a person 21 or older. Wine cannot be sent to a PO Box. International shipping is not available at this time. Please be sure to select the accurate ship to state when shopping. Gift certificates cannot be used as payment for web orders - they are for use On-Site only.  For more information please call (615) 395-0102.

    -# Product Pagination
    .m-product-pagination
      %a.product-pagination-prev{ href: "#" } &laquo; Prev
      %span.product-pagination-state
        Viewing products
        %strong 2 of 15
      %a.product-pagination-next{ href: "#" } Next &raquo;
