.l-page
  
  .l-sidebar
    %nav.m-subnav
      %ul
        - ["Our Story", "Meet the Owners", "Wine Making", "Vine Report", "Media"].each do |child_page|
          %li= link_to child_page, "#"
    = render "shared/account"

  .l-main
    .m-featured-image
      = image_tag "http://arrington-vineyards-dev.s3.amazonaws.com/prototype/featured_image.jpg"

    .m-content
      %h1 Our Story
      %p
        Arrington Vineyards was founded in 2005 by country artist Kix Brooks, businessman Fred Mindermann and winemaker Kip Summers. Fred and Kip had been growing grapes at Fred’s Liberty Hill Vineyard in Brentwood, TN. Inspired by the success of Fred’s vineyard and Kip’s winemaking track record, they endeavored to create a first class winery near Nashville. Fred and Kip approached Kix with the winery idea in 2002. Kix initially decided against it because the plan included utilizing Kix’s Painted Springs Farm as the location for the new vineyard.
        
        = image_tag "http://arrington-vineyards-dev.s3.amazonaws.com/prototype/featured_image.jpg", style: "float: left;"

      %p
        Then in late 2003, Fred and Kip purchased a small farm near Arrington (original farmhouse pictured left). They cleared the land and established Firefly Vineyards. Almost a year later, in 2004, the farm adjacent to the vineyards was offered for sale. Fred approached Kix with the idea of purchasing it so that Firefly Vineyards could be expanded. Once Kix purchased the property (including the house that is now the Arrington Vineyards tasting lodge), he caught the “winery fever” and decided to form a partnership with Fred and Kip to create a first class winery. The original working name Firefly Vineyards – named for the millions of fireflies that appear in the vineyards each spring – was changed to reflect the local community nearby.
        
        = image_tag "http://arrington-vineyards-dev.s3.amazonaws.com/prototype/featured_image.jpg", style: "float: right;"

      %p
        The vineyards were expanded in 2005 and 2006 – meanwhile – Arrington Vineyards worked with Williamson County in creating a whole new class of county zoning that would allow the winery to have a retail store. The first two vintages of wine (2005 and 2006) were made by Kip at Beachaven Winery in Clarksville, TN where he was winemaker for 13 years. Construction on the Arrington winery began in late 2006. By April 2007, the winery was officially licensed and the wine and equipment was moved in. Bottling of the first vintage began in June 2007. Arrington Vineyards opened for retail sales on July 1, 2007. A “Grand Opening” was held on August 14, 2007 - which included a concert by Pat McLaughlin. By the fall of 2007, it became apparent that Arrington Vineyards was quickly establishing itself as a first class operation – winning “Best of Show” at the Wines of the South competition for its Syrah and quickly selling out of most of its 2005 vintage wines in a few months.
      %p
        In 2008, Arrington Vineyards continued to expand its vineyards and distribution. AV wines have been featured in NYC, New Orleans, and at fine wine shops in Oregon and Tennessee. Businessman John Russell joined the Arrington Vineyards partnership, adding his keen sense of business to an already strong partnership and management team.
